Source: freebloks
Section: devel
Priority: optional
Maintainer: Sascha Hlusiak <mail@saschahlusiak.de>
Standards-Version: 3.6.1
Build-Depends: libglu1-mesa-dev, libx11-dev, libxpm-dev

Package: freebloks
Architecture: any
Depends: ${shlibs:Depends}
Description: Clone of the Blokus board game in 3D with network support
